<app-home-navbar></app-home-navbar>

<div class="container">


    <div class="row">

        <div id="news" class="col-3 m-2" *ngFor="let n of news">
            <div class="card" style="width: 18rem;">
                <img src="{{n.imageurl}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{n.title}}</h5>
                    <p class="card-text">{{n.content}}</p>
                    <a href="{{n.newsurl}}" target="_blank" class="btn btn-primary">read more</a>

                    <div class="row">

                        <div class="bg-white">
                            <div class="d-flex flex-row fs-12">
                                <div class="like p-2 cursor">
                                   
                                   <button *ngIf="loginStatus" (click)="addLikes(n.newsid)"> <i  class="fa  fa-thumbs-up" style="font-size: 25px;"> </i></button>
                                    &nbsp;
                                </div>
                                <div class="like p-2 cursor"> <button *ngIf="loginStatus"  (click)="getCommentsBynewsId(n.newsid)"
                                        type="submit" id="Buy" class="fa fa-commenting-o" data-bs-toggle="modal"
                                        [attr.data-bs-target]="'#modal'+n.newsid">
                                        comment
                                    </button>
                                    &nbsp;
                                </div>

                                <!-- <div class="like p-2 cursor"><span *ngIf="loginStatus" class="ml-1">Share</span> -->
                                <!-- </div> -->
                            </div>
                        </div>
                        <div class="modal fade" id=modal{{n.newsid}} data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">

                                        <h5 class="modal-title" id="staticBackdropLabel">Comments</h5>
                                        <button type="button " class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body">
                                        <form #nf="ngForm" (ngSubmit)="addComments(n.newsid)">
                                            <ul *ngFor="let c of commentbynewsid">
                                                <li>
                                                    {{c.comments}}
                                                </li>

                                            </ul>
                                            <div>

                                                <textarea placeholder="leave a comment here" [(ngModel)]="comment.comments" name="comments" id="" cols="50"
                                                    rows="5" maxlength="100"></textarea>
                                                <button type="submit" class="btn btn-secondary">post comment</button>
                                            </div>

                                        </form>
                                    </div>

                                    <div class="modal-footer">



                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>



    </div>




</div>